main{
    font-family: system-ui; 
    background: rgb(255, 255, 255);
    font-family: system-ui;
    background: white;
    color: rgb(0, 0, 0);
    text-align: left;
  }
  h1{
    text-align: center;
    color: 	#008b6f;
  }
  nav{
    text-align: center;}
  img{
    width: 15px;
  }
  nav{
    font-weight: normal;
    font-size: 25px;
    color: black;
    text-align: center;
  }
  div.body{  
    text-indent: 8px;
  }
  hr{
    border-top: 3px solid black;
  }
  div.a{
    text-indent: 25px;
  }
  table{  
    width: 40%;
    text-align: left;
    border: 2px solid black;
    border-collapse: collapse;
  }
  th, td {
    border: 2px solid black;
  }
  footer{
      text-align: left;
  }
  
